<%- include ("_header.ejs") %>
    <h1>Welcome to this Online Learning System</h1>
<%- include ("_footer.ejs") %>

<form method="POST" action="sign-up">
    <button>Sign Up</button>
</form>
<form method="POST" action="login">
    <button>Login</button>
</form>  