<%- include ("_header.ejs") %>
    <div class="container">
        <div class="row g-2 m-3">
            <div>
                <form method="POST" action="/authenticate">
                <div class="p-2">
                    <Label>Username:</Label>
                </div>
                <div class="p-2">
                    <input class="form-control" placeholder="Username" name="username"  id="username"></input>
                </div>
            </div>
            <div>
                <div class="p-2">
                    <Label>Password:</Label>
                </div>
                <div class="p-2">
                    <input class="form-control" placeholder="Password" type="password" name="password"  id="password"></input>
                </div>
            </div>
            <div>
            </div>
            <div style="color: red;"> <%= err %> </div>
            <button class="btn btn-primary">Login</button>
        </form>
        </div>
    </div>
</body>
</html>